@model TestSummary


    @foreach (var item in Model.Summ)
            {
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3>@item.FilmName</h3>
            </div>

            <div class="col-lg-6 col-md-6">
                <h3>@item.Date.ToString("d") @item.Time.ToString("t")</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Řada</th>
                            <th>Sedadlo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <h5>Vybraná sedadla</h5>
                        @foreach (var tmp in item.Seat.OrderBy(c => c.Rows))
                {
                            <tr>
                                <td>
                                <td><div>@tmp.Rows</div></td>
                                <td><div>@tmp.IdNumberPlace</div></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

            <div>
                <a asp-area="" asp-controller="Order" asp-action="DeleteFilmOrder" asp-route-IdCartFilm="@item.IdCartFilm" class="btn">Vymaz Film</a>
            </div>
    }
    <form asp-controller="Order" asp-action="FinishOrder" method="post">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4>Způsob doručení</h4>
                <div>
                    @foreach (var dop in @Model.Summ[0].ChooseDeliveryType)
            {
                        <div class="radio">
                            <label>
                                <input type="radio" name="DeliveryType" value="@dop.IdDeliveryType" />
                                @dop.TypeDelivery
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <h4>Způsob platby</h4>
                @foreach (var plat in @Model.Summ[0].ChoosePaymentMethod)
            {
                    <div class="radio">
                        <label>
                            <input type="radio" name="IdPayment" value="@plat.IdMethod" />
                            @plat.MethodType
                        </label>
                    </div>
                }
            </div>

        </div>

        <input type="hidden" asp-for="@Model.OverallPrice" />
        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-6 text-right">
                <h2>Celková cena</h2>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>@Model.OverallPrice Kč</h2>
            </div>
        </div>
        <button type="submit" class="btn btn-warning siroky" value="Submit">Finish</button>

    </form>
