@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        @foreach (var item in Model.Film)
        {
            <a asp-controller="Item" asp-action="Index" asp-route-id="@item.IdFilm">
                <img width="220" height="320" src="@item.Image" />
                </a>
                }

</div>

</div>

@foreach (var item in Model.December)
            {
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-11">
                <h2>@item.DateOfMonth.Date.ToString("d")</h2>
                <hr class="style-four">
            </div>
        </div>
    </div>
    foreach (var tmp in @item.Film)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 text-center timeShow">
                    @tmp.Time.OverallTime.ToString("t")
                </div>
                <div class="col-lg-2 col-md-2 vertical">
                    <div class="media">
                        <a asp-controller="Item" asp-action="Index" asp-route-id="@tmp.IdFilm">
                            <img width="140" height="200" src="@tmp.Image" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a asp-controller="Item" asp-action="Index" asp-route-id="@tmp.IdFilm">
                        <h3>@tmp.Name</h3>
                    </a>
                    <input type="hidden" name="product-id" value="@tmp.Access.Age" />
                    <span class="label label-warning" title="Přístupnost od @tmp.Access.Age let">@tmp.Access.Age</span>
                    <span class="label label-default">@tmp.Dimenzes.DimensionType</span>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                    <input type="hidden" name="product-id" value="@tmp.IdFilm" />
                    <a asp-controller="Order" asp-action="Order" asp-route-id="@tmp.IdFilm" asp-route-date="@item.DateOfMonth">
                        <button type="button" class="btn btn-success btn-round priceHeight" value="@tmp">Koupit</button>
                    </a>
                </div>
            </div>
            <br />
        </div>
    }
}