@using Catalog.Dal.Entities
@model Catalog.Dal.Entities.Film
    
<body style="background-image: url(@Model.Image)">
<div class="container" style="background-color: white">
        <h1>@Html.DisplayFor(modelItem => modelItem.Name)</h1>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.Trailer" frameborder="0" gesture="media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="position: relative">
                <div class="col-lg-6 col-md-11">
                    @foreach (var month in @Model.December)
                    {

                        <div class="tab">
                            <input id="tab-@month.IdDate" type="radio" name="tabs">
                            <label for="tab-@month.IdDate">@month.DateOfMonth.ToString("dd. MMMM dddd")</label>
                            <div class="tab-content center">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Time</p>@Model.Time.OverallTime.ToString("t")
                                    </div>
                                    <div class="col-lg-4">
                                        <p>Price</p>@Model.Price.OverallPrice Kč
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-success btn-round btn-sm">Koupit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="col-lg-4 col-md-12">
                @Model.Description
            </div>
            <div class="col-lg-2 col-md-12">
                @if (@Model.Dabing.Name.Equals("ANO"))
                {
                    <p>Český dabing</p>
                }
                <div>
                    <p>Přístupnost od @Model.Access.Age let</p>
                </div>
                <h5>Délka</h5>
                <p>@Model.Length min</p>
                <h5>Datum premiéry</h5>
                <p>@Model.DateReleased.Date.ToString("d")</p>
                <h4>Žánr</h4>

                @foreach (var type in @Model.Type)
                {
                    <div>@type.Genre</div>
                }
            </div>
        </div>




</div>
</body>