@model List<Catalog.Dal.Entities.Film>

@{
    ViewData["Title"] = "Catalog";
}


@foreach (var item in Model)
{
    <div>
        <p>@item.DateReleased</p>
        <h1>@item.Name</h1>
        <h6>@item.Description</h6>


        @foreach (var pom in @item.Dimenze)
        {
            <p>@pom.DimensionType</p>
        }
        
        <img width="250" height="400" src="@item.Image" />
        @*<iframe width="640" height="300" src="@item.Trailer" frameborder="0" gesture="media" allowfullscreen></iframe>*@
        
        <iframe width="640" height="300" src="@item.Trailer" frameborder="0" gesture="media" allowfullscreen></iframe>

        @item.Access.Age
        @item.Price.OverallPrice
        @item.Dabing.Name
        @item.Time.OverallTime


        @foreach (var tmp in @item.Type)
        {
            <p>@tmp.Genre</p>
        }
        


        @*@foreach (var tmp in @item.Film_type.Type)
        {
            <p>@tmp.Type.Genre</p>
        }*@

    </div>
}

